.wish_body {
    height: 100vh;
    width: 100vw;
}

.add_wish {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.add_wish h1 {
    font-size: 4.5vh;
}

.camera { 
    background-color: lightgray;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 60vh;
}

.camera_nav {
    padding: 2% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.camera_flip img {
    margin-left: 2%;
}

.camera_flip img { 
    height: 60px;
}

.pop-up_window {
    float: inline-start;
}