.bekraeft_slet_oenske {
    top: 32%;
}

.bekraeft_slet_oenske_allow_window {
    border-radius: 27px;
}

.bekraeft_slet_oenske_allow_window p {
    padding: 0 3px 3%;
}

.bekraeft_slet_oenske_allow_window img {
    text-align: center;
}