.del_ønske_wrapper {
    display: grid;
    grid-template-columns: 72px 101px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 12px;
    grid-column-gap: 10px;
    justify-content: center;
    padding-bottom: 45px;
}

.del_ønske_wrapper a {
justify-self: left;
align-self: center;
}

.del_knapper {
    display: grid;
}

.del_knapper img {
    justify-self: center;
    align-self: center;
    width: 50px;
}

.h1_small{
    font-size: 35px;
    height: 14vh;
}