.empty_wishlist {
    display: grid;
    grid-template-rows: 77px 1fr 1fr;
    min-height: 64vh;
}

.santa_container {
    display: grid;
    justify-self: stretch;
    grid-template-rows: 25px 75px;
}

.santa_speach_box {
    
}

.content_box {
    width: 93%;
    margin: 4% auto 0;
    background-color: white;
    border-radius: 5px;
    }
