.christmas_sack {
    position: absolute;
    max-width: 450px;
    width: 100vw;
    top: 18%;
    animation-name: hover;
    animation-duration: 2s;
}

@keyframes corner {
    0% {width: 100vw;}
    25% {width: 95vw;}
    75% {width: 80vw;}
    100% {width: 70vw;}
}

@keyframes hover{
    0% {top: 15%;}
    25% {top: 25%}
    100% {top: 18%}
  }

.christmas_sack_img {
    height: 60vh;
}



