.found_gifts_img {
    height: 13vh;
    margin-bottom: 20px;
}

.found_gifts h1 {
    font-size: 4vh;
    margin: 0;
    margin-top: 10px;
    letter-spacing: -0.2pt;
}
.found_gifts {
    min-height: 64vh;
    padding-bottom: 5%;
}

.add_gift p {
    font-size: 23px;
}

.found_info :nth-child(2) {
    text-align: right;
}

.x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 0;
    width: 0;
    padding: 6%;
    position: absolute;
    right: 0;
    margin: 1% 0%;
}

.x-button p {
    font-size: 4vh;
    font-family: 'Chewy', cursive;
    color: white;
}
.found_gift_margintop {
    margin-top: 6%;
}

.koeb_button_width {
    width: 118px;
    margin: 0 auto;
}

.found_info {
    width: 124px;
}