* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-position: center center;
}

header img {
    margin-top: 20px;
    width: 70px;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Chewy', cursive;
    font-size: 40px;
    margin: 10px 0;
    color: white;
    text-shadow: 0px 3px 6px black;
}

h2 {
    font-family: 'Chewy', cursive;
    font-size: 20px;
    color: white;
    text-shadow: 0px 3px 6px black;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.noShadow {
    text-shadow: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    max-width: 450px;
    margin: 0 auto;
    background-image: url("pictures/background_flakes.jpg");
}

.scroll {
    overflow-y: scroll;
}