* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-position: center center;
}

header img {
    margin-top: 20px;
    width: 70px;
}

header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    max-width: 450px;
    margin: 0 auto;
    background-image: url("pictures/background_flakes.jpg");
}

.scroll {
    overflow-y: scroll;
}