.rund_knap {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    margin: 0 auto;
}

.big_knap {
    width: 100px;
    height: 100px;
}

.small_knap {
    width: 50px;
    height: 50px;
}

.middle_knap { 
    margin: 0 auto;
}

.left_knap {
    margin: 0 12%;
}

.right_knap{ 
    margin: 0 72%;
}





