.shared_grid {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    justify-items: center;
    margin: 0 10px;
    row-gap: 35px;
}

.shared_grid h2 {
    text-align: left;
}

.shared_grid2 h2 {
    text-align: left;
}

.shared_grid img {
    height: 90px;
}

.trans {
    opacity: 30%;
}

#margin_content_box {
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.shared_info:nth-child(3) {
    text-align: right;
}

