.shared_grid {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    justify-items: center;
    width: 310px;
    margin: 0 auto;
    row-gap: 35px;
}

.shared_grid h2 {
    text-align: left;
}

.shared_grid2 h2 {
    text-align: left;
}

.shared_grid img {
    height: 100px;
}

.trans {
    opacity: 30%;
}

.margin_content_box {
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.on_top {
    position: absolute;
    margin-top: 30vh;
    align-self: center;
}

