.velkomst {
    padding: 0 10px 10px 10px;
}

.velkomst :nth-child(7) {
    height: 72px;
}

.velkomst img {
    height: 100px;
    margin: 10px;
}

.preview-button {
    border: none;
    background-color: inherit;
    animation-iteration-count: infinite;
    margin-right: 10px;
    margin-bottom: 10px;
}

.santaAlign {
    margin-top: -1px;
    height: 170px;
}

.santa_speaker_grid {
    display: grid;
    grid-template-columns: 140px 140px;
    align-items: baseline;
}