.velkomst {
    padding: 0 10px 10px 10px;
}

.velkomst :nth-child(7) {
    height: 72px;
}

.velkomst img {
    height: 100px;
    margin: 10px;
}

#soundButton {
    width: 20px;
    height: 20px;
    margin: inherit;
}

.preview-button {
    border: none;
    background-color: inherit;
    animation-iteration-count: infinite;
}

.santaAlign {
    margin-top: -1px;
    margin-left: 170px;
    height: 150px;
}